  .fundo {
  background-color: #B5D43C;
  text-align: center;

};

  .nome {
    color: #434738;
}

  .caixa {
    background-color: #434738;
    margin: 15px;
    text-align: left;
    padding: 10px;
    border-radius: 15px;
  }

  .titulos {
    color: #B5D43C;
    text-align: center;
  }

  .foto {
    border-radius: 100%;
  }